.venv/
venv/
*.pyc
__pycache__/
.env
.env.local
*.egg-info/
dist/
build/
.DS_Store
.vscode/
*.log
*.sqlite
*.db
node_modules/
.idea/
.pytest_cache/
.coverage
htmlcov/
*.pyo
*.pyd
.Python
pip-log.txt
pip-delete-this-directory.txt
.tox/
.hypothesis/
.env.prod
.env.dev
mongod.lock